<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello, world.</h1>
    <iframe src="https://giphy.com/embed/5MDk34NOY6ili" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cheezburger-excited-screaming-applause-5MDk34NOY6ili">via GIPHY</a></p>
    <h1>Googling</h1>
    <form method = "GET" action = "/search">
        <input type="text" name="query"/>
        <input type="submit"/>
    </form>
</body>
</html> 